{% extends 'WebplanetCatalogBundle::base.html.twig' %}

{% block content %}
<div class="content_has_sidebar">
<h1>{{ page.title }}</h1>

{{ page.content|raw }}

{{ cms_page_render_content() }}

</div>
{% endblock %}




{% block content_sidebar %}
<div class="sidebar">

    {% set collection = cms_collection_get('secondary_nav') %}
    
    <ul class="cms_section_nav nav nav-stacked">
    {% for item in collection.pages %}
        <li><a href="{{ path('cms_page', { 'page_slug': item.slug }) }}">
            {{ item.title }}
        </a></li>
    {% endfor %}
    </ul>
    
    
    {{ cms_block_render('sidebar_bottom') }}

</div>
{% endblock content_sidebar %}